<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}

    <!-- Included CCS files -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/3.2/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/4.2.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-social/bootstrap-social.css" />
    <!-- Account for fixed static navbar at the top of page -->
    <style type="text/css">
        body { padding-top: 50px; }
    </style>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extra_style %}{% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

</head>
<body>
    <div class="container">
        <!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TickIt</a>
            </div><!-- /.navbar-header -->

            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse" id="header-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li role="presentation" class="divider-vertical"><span>|</span></li>
                     {% if user.is_authenticated %}
                        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">Sign In</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                    {% comment %}
                    <li><a href="#">Log in <span class="login-caret"></span></a></li>
                    <li class="hidden-xs">
                        <div>
                            <a id="btn-signup-top" class="btn btn-white btn-sm navbar-btn hidden-xs" href="#">Sign up</a>
                        </div>
                    </li>
                    {% endcomment %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <!-- Breadcrumbs -->
        {% if breadcrumbs %}
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        {{ breadcrumbs|safe }}
                    </ol>
                </div>
            </div>
        {% endif %}

        <!-- Messages -->
        {% if request.user.is_authenticated and messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                        {{ message|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- Page content -->
        {% block content %}{% endblock %}

        {% block extra_body %}{% endblock %}

        <!-- Footer -->
        {% block pagefooter %}{% endblock %}

        <!-- JavaScript placed at the end of the document so that pages load faster -->
        <script src="{{ STATIC_URL }}jquery/js/jquery.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/3.2/js/bootstrap.min.js"></script>
        {% block extra_js %}{% endblock %}
    </div><!-- /.container-fluid -->
</body>
</html>
